@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    html, body, main {
        min-height: auto;
    }

    main {
        display: block;
    }

    #index-column {
        display: none;
    }

    #content-column {
        border: 0;
        padding: 0;
    }

    .sourcebutton {
        display: none;
    }

    a, a:visited {
        text-decoration: underline;
    }

    pre, blockquote {
        border: 1px solid #999;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
}
