@include portal-type-font-awesome-icon(ftw-addressblock-addressblock, home);

@mixin addressblock-content {
  ul {
    @include ul(plain);
  }

  h2 {
    &:before {
      font-size: 1.3em;
      min-width: 0 !important;
    }
  }

  p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.25em;

    span {
      display: block;
      line-height: 30px;
    }

    .phone {
      font-size: 16px;
    }

  }
}

.sl-block {
  &.ftw-addressblock-addressblock {
    .sl-block-content {
       @include addressblock-content
    }
  }
}
